body {
    position: relative;
}
.navigation {
    text-align: center;
    background-color:rgb(200, 200, 200);
    font-family: Montserrat;
    letter-spacing: 2px;

    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #3c4143;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #3c4143;
}

.navig {
    margin: auto;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    position: relative;
}

.navig a {
    text-decoration: none;
}
.navig1 {
    margin: auto;
    display: inline-block;
    background-color: rgb(200, 200, 200);
    text-transform: uppercase;
    font-family: Inter,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: .05em;
    padding-right: 30px;
    padding-left: 30px;
}

a:link {
    display: inline-block;
    color: #4D4D4D;
}

a:visited {
    color: #362e32;
}

a:hover {
    color: #1d263f;
}

.photo_me {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 0% 100%;
    border-radius: 50%;
}

.background_photo_main {
    display: block;
    width: 100%;
    padding-top: -20px;
    vertical-align: top;
    background: transparent no-repeat;
    background-position: top;
    background-size: cover;
}

.signature {
    text-align: center;
    color: #BEBEBE;
    background-color: rgb(44, 44, 44);
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    line-height: 0.8px;
    font-family: Roboto Slab;

    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #3c3f41;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #3c4143;
}

.contacts {
    margin: auto;
}

.contacts1 {
    margin: auto;
    display: inline-block;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

.main1 {
    background-color: rgba(248, 247, 216, 0.7);
    top: 10em;
    left: 54em;
    width: 45em;
    height: 10em;
}