html {
    font-size: 16px;
}
body {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    min-width: 320px;
    color: #676a6c;
    background-color: white;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 50px 0;
}

a {
    color: black;
}

/*Цвет ссылки при наведении*/
a:hoover {
    color: #1d263f;
}

/*Цвет ссылки, по которой уже проходили*/
a:visited {
    color: #1f013b;
}

.navbar-light .navbar-nav .nav-link{
    color: #111;
    font-weight: 550;
    text-transform: uppercase;

}

.text-center {
    text-align: center;
}

.main-menu li a::after {
    content: "";
    display: block;
    width: 100%;
    background-color: #111;
    height: 1px;
    transition: all .3s;
    transform: scale(0);
}

.main-menu li a:hover::after {
    transform: scale(1);
}

.footer {
    background-color: #343434;
}

.footer h4 {
    color: #ccc;
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 1px solid #666;
    padding-bottom: 3px;
}

.footer a {
    text-decoration: none;
    transition: all .3s;
}

.footer a:hover {
    color: white;
    text-decoration: underline;
}

.footer a, .footer li {
    color: #c8c8c8;
}

.footer li a {
    display: block;
}

ul.contacts li {
    display: inline-block;
}

.photo_me {
    width: 120px;
    height: 120px;
    object-fit: cover;
    object-position: 0% 100%;
    border-radius: 30%;
}

.photo_me1 {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 0% 100%;
    border-radius: 30%;
}

.jumbotron {
    background-color: white;
}

.btn-add-space {
    margin-right: 0.5rem!important;
}

.gray-section {
    background: #f4f4f4;
}

