.title-resume {
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;

    .resume {
        position: relative;
        margin-left: 100px;
        padding: 5px 0;
        padding-top: 0.75em;
        padding-bottom: 0.75em;
        padding-left: 10em;
        padding-right: 10em;

        background-color: #f2f3f7;
        opacity: 0.9;

        font-family: "Quicksand", Arial, sans-serif;
        font-size: xx-large;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;

        border-color: black;
        border-style: solid;
        }
}

.timeline {
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;

    .timeline-body {
        position: relative;
        background-color: #f2f3f7;
        opacity: 0.9;
        margin-left: 100px;
        border-radius: 0 8px 8px 0;
        padding: 5px 0;

        //line that goes through circles
        &:after {
            content: "";
            width: 4px;
            height: 100%;
            background-color: black;
            position: absolute;
            left: -4px;
            top: 0;
        }

        .timeline-item {
            position: relative;
            
            //circles (steps)
            &:after {
                content: "";
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 4px solid black;
                background-color: white;
                position: absolute;
                left: -16px;
                top: 4px;
                z-index: 9;
            }
             .content {
                 margin: 40px;
                 padding-bottom: 40px;
                 border-bottom: 1px dashed #555;

                 .title {
                     font-weight: 500;
                     margin-bottom: 15px;
                     font-family: "Quicksand", Arial, sans-serif;
                 }

                 .period-of-employment {
                     font-weight: 100;
                     font-size: 20px;
                     font-family: "Quicksand", Arial, sans-serif;
                     color: rgb(129, 129, 129);
                 }
                 
                 p {
                    font-family: "Quicksand", Arial, sans-serif;
                 }

                 .list-description {
                    font-family: "Quicksand", Arial, sans-serif;      
                 }

             }
        }
    }
}